body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.mdl-dialog {
    width: 370px;
    height: 350px;
}

.buttonnn {
    float: right;
}

.mdl_2 {
    width: 370px;
    height: 500px;
}

.boutonplus {}

.boutonannu {}

.divajout {
    margin-top: 5.2cm;
}

.mdl_3 {
    width: 400px;
    height: 400px;
}

.md {
    margin-right: 2cm;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    .md {
        margin-right: 0cm;
    }
}